[submodule "chi-in-a-box"]
	path = chi-in-a-box
	url = https://github.com/ChameleonCloud/chi-in-a-box
[submodule "chi-edge-workers"]
	path = chi-edge-workers
	url = https://github.com/ChameleonCloud/chi-edge-workers
[submodule "kolla-ansible"]
	path = kolla-ansible
	url = https://github.com/ChameleonCloud/kolla-ansible
[submodule "python-chi-edge"]
	path = python-chi-edge
	url = https://github.com/ChameleonCloud/python-chi-edge
[submodule "doni"]
	path = doni
	url = https://github.com/ChameleonCloud/doni
[submodule "tunelo"]
	path = tunelo
	url = https://github.com/ChameleonCloud/tunelo
[submodule "blazar"]
	path = blazar
	url = https://github.com/ChameleonCloud/blazar
[submodule "zun"]
	path = zun
	url = https://github.com/ChameleonCloud/zun
